# General
# Next.js
.next/
out/

node_modules/

.env
.env.local
.env.development.local
.env.production.local

.DS_Store
Thumbs.db

.idea/

.turbo/

# ALL Generated data is published for demos

# Python
__pycache__/
*.pyc
*.pyo
.DS_Store
.env

# TypeScript / Next.js
tsconfig.tsbuildinfo
.next/

# Editor
.vscode/